.k-loan-summary .k-header {
    padding: 0 0 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .k-loan-summary .k-summary-text {
    margin: 15px 0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-wrap: wrap;
  }
  .k-loan-summary .k-summary-text .k-section {
    width: 50%;
  }
  .k-loan-summary .k-summary-text .k-section.large {
    margin: 10px 0;
    width: 100%;
  }
  .k-loan-summary .k-summary-text .k-section label {
    font-size: 12px;
    color: #3c5a6e;
  }
  .k-loan-summary .k-summary-text .k-section .k-number {
    display: flex;
    color: #809e5c;
    font-size: 33px;
  }
  .k-loan-summary .k-summary-text .k-section .k-number span {
    font-size: 22px;
    padding-top: 6px;
  }
  .k-loan-summary .k-summary-text .k-section .k-number.small {
    font-size: 24px;
  }
  .k-loan-summary .k-help-text p {
    font-size: 13px;
  }
  