.k-logo {
    display: flex;

    padding: 0 0 15px;
    border-bottom: 1px solid #f0f0f0;

    img {
        width: 128px;
        height: 54px;
    }
    .k-register-link {
        flex-grow: 1;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}